Source: libdisplaycore-font-dejavusansmono
Section: libraries
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-font-dejavusansmono
Section: libraries
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Fonts
Depends: libdisplaycore-core
Provides: DejaVuSansMono.h
Description: DejaVu Sans-Serif Monospace font for DisplayCore
